.lebih{
	border: 1px solid;
	width: 200px;
	height: 30px;
	text-align: center;
	margin: 0px auto;
	margin-top: 50px;
}

.lebih a{
	text-decoration: none;
	color: black;
}

.lebih:hover{
	background-color: grey;
	color: white;
}